/*  your css code here. If applicable */
#line {
	position: absolute;
	top: 200px;
	left: 100px;
	background-color: black;
	height: 2px;
	width: 200px;
	animation: loop 3s linear infinite
}
@keyframes loop {
	to {
		transform: rotate(360deg);
	}
	from {
		transform: rotate(0deg);
	} 
}
